---
import { Image } from "astro:assets";
const { project } = Astro.props;
const { title, description, href, cover, tech_stack } = project;
---

<a href={href} class="project__card">
  <Image
    class='project__card__cover'
    src={cover}
    alt={title}
  />
  <div class="project__card__description--hover">
    <h6>{title}</h6>
    <p>{description}</p>
  </div>
  <div class="project__card__description">
    <h6>{title}</h6>
    <span class="tech__stack">
      {tech_stack.map(skill => skill).join(' ')}
    </span>
  </div>
</a>


<style lang="scss">
  .project__card {
    background: #1d1c20;
    overflow: hidden;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;

    &__cover {
      max-width: 100%;
      height: 20rem;
      object-fit: cover;
      object-position: center;
    }

    &:hover &__description--hover {
      transform: translateY(0);
      opacity: 1;
    }

    &__description--hover {
      padding: 2rem;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, .75);
      height: 100%;
      transform: translateY(25%);
      transition: .25s all ease-in-out;
      opacity: 0;

      h6 {
        margin-bottom: 1rem;
      }
    }

    &__description {
      padding: 1rem 2rem;

      h6 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      .tech__stack {
        line-height: 1.4;
        font-size: 1.2rem;
        font-weight: lighter;
      }
    }
  }

  @media only screen and (max-width:37.5em) {
    .project__card {
      &__description {
        h6 {
          font-size: 2.4rem;
        }
        .tech__stack {
          font-size: var(--para-font-sm);
        }
      }
    }
  }
</style>
